<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
  <test name="Test Case 01">
      <groups>
    	<run>
    		<include name="g1"></include>
    	</run>
     </groups>
    <classses>
   	<class name="testngcode.GrpCls"></class>
    </classses>
    </test> <!-- Test -->
</suite> <!-- Suite -->
